body{
    background-color: rgb(174, 69, 69);
  }
  .main{
    height: 500px;
    width:500px;
    margin: auto;
    margin-top: 50px;
  }
  .accordion-body{
    padding-bottom: 50px;
  }   