
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



maindiv{
    height:600px;
    width:100%;
    background-color:gray;
    font-size: 40px;
    color:white;
    display:flex;
}

.box-1{
    height:100px;
    width:100px;
    background-color:red;
    order: 12;
}
.box-2{
    height:100px;
    width:100px;
    background-color:green;
    order:11;
};
.box-3{
    height:100px;
    width:100px;
    background-color:black;
    order:10;
}
.box-4{
    height:100px;
    width:100px;
    background-color:yellow;
    order:9;
}
.box-5{
    height:100px;
    width:100px;
    background-color:pink;
    order:8;
}
.box-6{
    height:100px;
    width:100px;
    background-color:blue;
    order:7;
}
.box-7{
    height:100px;
    width:100px;
    background-color:gold;
    order:6;
}
.box-8{
    height:100px;
    width:100px;
    background-color:purple;
    order:5;
}
.box-9{
    height:100px;
    width:100px;
    background-color:palegreen;
    order:4;
}
.box-10{
    height:100px;
    width:100px;
    background-color:teal;
    order:3;
}
.box-11{
    height:100px;
    width:100px;
    background-color:khaki;
    order:2;
}
.box-12{
    height:100px;
    width:100px;
    background-color:darkcyan;
    order:1;
}
