body{
    background-color: black;
}

/* .om{
    margin-left: 30px;
} */

.om{
    background-color: green;
    border-radius: 10px;
}

.bg-body-tertiary {
    /* --bs-bg-opacity: 1; */
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}




