.col-12{
    border: 2px solid white;
    background-color: black;
    height: 50px;
    margin: auto;
    border-top: none;

}
.col-11{
    border: 2px solid white;
    background-color: black;
    height: 50px;
    margin: auto;
    border-top: none;

}
.col-10{
    border: 2px solid white;
    background-color: black;
    height: 50px;
    margin: auto;
    border-top: none;

}
.col-9{
    border: 2px solid white;
    background-color:black;
    height: 50px;
    margin: auto;
    border-top: none;

}
.col-8{
    border: 2px solid white;
    background-color: black;
    height: 50px;
    margin: auto;
    border-top: none;

}
.col-7{
    border: 2px solid white;
    background-color: black;
    height: 50px;
    margin: auto;
    border-top: none;

}
.col-6{
    border: 2px solid white;
    background-color:black;
    height: 50px;
    margin: auto;
    border-top: none;
}
.col-5{
    border: 2px solid white;
    background-color: black;
    height: 50px;
    margin: auto;
    border-top: none;

}
.col-4{
    border: 2px solid white;
    background-color: black;
    height: 50px;
    margin: auto;
    border-top: none;
}
.col-3{
    border: 2px solid white;
    background-color:black;
    height: 50px;
    margin: auto;
    border-top: none;
}
.col-2{
    border: 2px solid white;
    background-color: black;
    height: 50px;
    margin: auto;
    border-top: none;
}
.col-1{
    border: 2px solid white;
    background-color: black;
    height: 50px;
    margin: auto;
    border-top: none;
}